<button mat-raised-button routerLink='/button'>Button</button>
<button mat-raised-button routerLink='/typo'>Typography</button>
<button mat-raised-button routerLink='/buttontoggle'>Button Toggle</button>
<button mat-raised-button routerLink='/icon'>Icon</button>
<button mat-raised-button routerLink='/badges'>Badges</button>
<button mat-raised-button routerLink='/spinner'>Progress Spinner</button>
<button mat-raised-button routerLink='/spinner'>Progress Bar</button><br>
<button mat-raised-button routerLink='/navbar'>Navbar</button>
<button mat-raised-button routerLink='/navbar'>Sidenav</button>
<button mat-raised-button routerLink='/menu'>Menu</button>
<button mat-raised-button routerLink='/list'>List</button>
<button mat-raised-button routerLink='/grid'>Grid List</button>
<button mat-raised-button routerLink='/expansion'>Expansion Panel</button>
<button mat-raised-button routerLink='/card'>Card and Tabs</button>
<button mat-raised-button routerLink='/stepper'>Steppers</button>
<button mat-raised-button routerLink='/input'>Input</button>
<button mat-raised-button routerLink='/select'>Select</button>
<button mat-raised-button routerLink='/autocomplete'>Auto Complete</button>
<button mat-raised-button routerLink='/radio'>Radio and Checkbox</button>
<button mat-raised-button routerLink='/date'>Date Picker</button>
<button mat-raised-button routerLink='/tooltip'>Tooltip</button>
<button mat-raised-button routerLink='/snackbar'>Snackbar</button>
<button mat-raised-button routerLink='/dialog'>Dialog</button>
