<mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
    <a href="#" mat-list-item>Home</a>
    <a href="#" mat-list-item>About</a>
    <a href="#" mat-list-item>Services</a>
</mat-nav-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <h3 matLine>Line</h3>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <h3 matLine>Line 2</h3>
    </mat-list-item>
</mat-list>