<mat-form-field  >
    <mat-label>Name</mat-label>
    <input matInput required>       <!-- required => * -->
    <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel='always'>     <!-- floatLabel='auto/never/always' -->
    <mat-label>Name</mat-label>    
    <input matInput>
</mat-form-field>

<mat-form-field  appearance='outline' color='accent'> <!-- appeance='outline/fill/legacy/standard -->
        <mat-label>Name</mat-label>
        <input matInput>
        <mat-hint >Min 5 characters</mat-hint>
</mat-form-field>