<mat-grid-list cols=2>
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>

    <mat-grid-tile rowspan="2">Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
    <mat-grid-tile>Tile 7</mat-grid-tile>
    <mat-grid-tile colspan=2>Tile 8</mat-grid-tile>
</mat-grid-list>
<br><br>

<mat-grid-list cols=2 rowHeight='100px'>
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br><br>

<mat-grid-list cols="2" rowHeight='2:1'>        <!-- row : column -->
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br><br>

<mat-grid-list cols="2" rowHeight='fit' style='height:100px'>  <!-- Fit to the container --> 
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br><br>

<mat-grid-list cols="2" gutterSize="20px" rowHeight='100px'>  <!-- Space between the containers --> 
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br><br>
